adminUser: admin
adminPassword: admin

service:
  type: ClusterIP
  port: 3000

persistence:
  enabled: true
  size: 2Gi

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus-server.monitoring.svc.cluster.local
        isDefault: true

dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
      - name: 'default'
        orgId: 1
        folder: ''
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards

sidecar:
  dashboards:
    enabled: true
    label: grafana_dashboard
    labelValue: "1"
    folder: /tmp/dashboards
    searchNamespace: monitoring          

dashboards:
  default:
    node-exporter-full:
      gnetId: 1860
      revision: 29
      datasource: Prometheus
    kubernetes-cluster:
      gnetId: 6417
      revision: 1
      datasource: Prometheus
