apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-config
  namespace: monitoring
data:
  alertmanager.yaml: |
    global:
      resolve_timeout: 5m
    route:
      receiver: "default"
      group_wait: 10s
      group_interval: 10s
      repeat_interval: 1h
    receivers:
      - name: "default"
        webhook_configs:
          - url: "http://alertmanager.monitoring.svc.cluster.local:9093/api/v2/alerts"
