alertmanager:
  enabled: true

pushgateway:
  enabled: false

nodeExporter:
  enabled: false

server:
  persistentVolume:
    enabled: true
    size: 5Gi
  service:
    type: ClusterIP
    port: 9090
  alertingEndpoints:
    - name: alertmanager
      namespace: monitoring
      service: prometheus-alertmanager
      port: 9093

serverFiles:
  prometheus.yml:
    scrape_configs:
      - job_name: 'backend'
        metrics_path: /metrics
        static_configs:
          - targets:
              - 'pakalspot-dev-pakalspot-chart-backend.pakalspot-dev.svc.cluster.local:80'

      - job_name: 'kube-state-metrics'
        static_configs:
          - targets:
              - 'prometheus-kube-state-metrics.monitoring.svc.cluster.local:8080'
  alerts:
    groups:
    - name: resource-alerts
      rules:
      - alert: HighNodeCPU
        expr: 100 - (avg by (instance) (rate(node_cpu_seconds_total{mode="idle"}[5m])) * 100) > 85
        for: 5m
        labels:
          severity: warning
        annotations:
          summary: "High CPU usage on {{ $labels.instance }}"
          description: "Node CPU usage > 85% for 5 minutes."

      - alert: HighNodeMemory
        expr: (1 - (node_memory_MemAvailable_bytes / node_memory_MemTotal_bytes)) * 100 > 85
        for: 5m
        labels:
          severity: warning
        annotations:
          summary: "High Memory usage on {{ $labels.instance }}"
          description: "Node memory usage > 85% for 5 minutes."
