app:
  environment: dev
  namespace: pakalspot-dev
global:
  image:
    tag: dev-8c6a3d3
frontend:
  replicaCount: 1
  image:
    tag: dev-d308d03
    pullPolicy: Always
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 128Mi
backend:
  replicaCount: 1
  image:
    tag: dev-d308d03
    pullPolicy: Always
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi
  podAnnotations:
    prometheus.io/scrape: 'true'
    prometheus.io/port: '8000'
    prometheus.io/path: /metrics
  env:
    DEBUG: 'true'
    ENVIRONMENT: development
    S3_BUCKET: pakalspot-photos-dev
    BASE_URL: http://pakalspot.local
database:
  statefulSet:
    replicaCount: 1
  resources:
    limits:
      cpu: 500m
      memory: 1Gi
    requests:
      cpu: 250m
      memory: 512Mi
  persistence:
    enabled: true
    size: 10Gi
    accessMode: ReadWriteOnce
ingress:
  hosts:
    - host: pakalspot.local
      paths:
        - path: /api
          pathType: Prefix
          service: backend
        - path: /media
          pathType: Prefix
          service: backend
        - path: /
          pathType: Prefix
          service: frontend
  tls:
    enabled: false
securityContext:
  readOnlyRootFilesystem: false
autoscaling:
  enabled: false
